<div style="width:400px;margin-left:50px;">
    {{#bs-panel heading="Simple Panel" footer="Panel Footer"}}
        <p>BarPanel content goes here...!</p>
    {{/bs-panel}}
</div>
Controller is: {{controller}}